@font-face {
  font-family: 'Phasmo';
  src: url('./assets/fonts/October Crow.ttf');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Phasmo, serif;
  color: white;
  animation: flicker-color 30s 10s ease-in-out infinite;
}

@keyframes flicker-color {
  0%, 6%, 50%, 57% {
    color: white;
  }
  2% {
    color: #ffffffcc;
  }
  2.5% {
    color: #ffffff99;
  }
  3.25% {
    color: #ffffff77;
  }
  3.75% {
    color: #ffffff99;
  }
  4% {
    color: #ffffffee;
  }
  4.25% {
    color: #ffffffaa;
  }
  4.5% {
    color: #ffffffbb;
  }
  5% {
    color: #ffffff88;
  }
  5.25% {
    color: #ffffffbb;
  }
  50.5% {
    color: #ffffffcc;
  }
  51% {
    color: #ffffff99;
  }
  51.5% {
    color: #ffffffee;
  }
  52.5% {
    color: #ffffff99;
  }
  53% {
    color: #ffffffdd;
  }
  54% {
    color: #ffffffaa;
  }
  55% {
    color: #ffffffbb;
  }
  55.5% {
    color: #ffffff66;
  }
  56% {
    color: #ffffffbb;
  }
}