@font-face {
  font-family: 'Phasmo';
  src: url('./assets/fonts/October Crow.ttf');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Phasmo, serif;
  color: white;
  letter-spacing: 2px;
}

//mat-tooltip-component {
//  width: 8px;
//  padding-top: 4px;
//}